@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline-width: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.wrapper {
  width: 100%;
}

.wrapper .container {
  width: 100%;
}

.wrapper .container .navbar {
  width: 100%;
  background-color: #060606;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.wrapper .container .navbar .header {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .navbar .header .menu__logo img {
  width: 50px;
  height: 50px;
}

.wrapper .container .navbar .header .menu__text .btn__h:hover {
  color: #060606;
  background-color: gold;
}

.wrapper .container .navbar .header .menu__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .container .navbar .header .menu__text ul li {
  margin: 0 20px;
}

.wrapper .container .navbar .header .menu__text ul li a {
  padding: 10px;
  color: gold;
  text-decoration: none;
}

.wrapper .container .navbar .header .menu__text ul li a:hover {
  color: white;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-box-shadow: 2px 2px 1px gold;
          box-shadow: 2px 2px 1px gold;
}

.wrapper .container .hero__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #ccc;
  -webkit-box-shadow: 1px 1px 1px white;
          box-shadow: 1px 1px 1px white;
}

.wrapper .container .hero__section .hero__text {
  width: 50%;
  height: 500px;
  background-color: #060606;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
}

.wrapper .container .hero__section .hero__text .hi {
  font-size: 28px;
}

.wrapper .container .hero__section .hero__text .name {
  font-size: 48px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.wrapper .container .hero__section .hero__text .surname {
  color: gold;
}

.wrapper .container .hero__section .hero__text .job {
  font-size: 18px;
}

.wrapper .container .hero__section .hero__text .social {
  padding-top: 100px;
}

.wrapper .container .hero__section .hero__text .social a {
  margin: 0 20px;
}

.wrapper .container .hero__section .hero__text .social a img:hover {
  padding-bottom: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .container .hero__section .hero__text .social .facebook {
  height: 30px;
  width: 30px;
}

.wrapper .container .hero__section .hero__text .social .instagram {
  width: 30px;
  height: 30px;
}

.wrapper .container .hero__section .hero__text .social .telegram {
  width: 30px;
  height: 30px;
}

.wrapper .container .hero__section .hero__img {
  width: 50%;
  height: 500px;
  background-color: gold;
}

.wrapper .container .hero__section .hero__img img {
  height: 500px;
  width: 470px;
}

.wrapper .container .goal {
  background: #ccc;
}

.wrapper .container .goal h1, .wrapper .container .goal p {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.wrapper .container .skills {
  background: gold;
}

.wrapper .container .skills .example {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
  height: 1100px;
}

.wrapper .container .skills .example img {
  width: 100px;
  height: 100px;
}

.wrapper .container .skills .example img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.wrapper .container .skills .example h1 {
  display: inline-block;
  text-align: center;
  padding: 7px 70px;
  margin-left: 210px;
  border: 3px solid black;
}

.wrapper .container .skills .example p {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 80px;
}

.wrapper .container .skills .example .icons__f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.wrapper .container .skills .example .icons__f img {
  width: 100px;
  height: 100px;
}

.wrapper .container .skills .example .icons__s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.wrapper .container .skills .example .icons__th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.wrapper .container .skills .example .icons__l {
  padding-top: 30px;
}

.wrapper .container .portfolio {
  width: 100%;
  background-color: #060606;
}

.wrapper .container .portfolio .p__h {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .portfolio .p__h h1 {
  text-align: center;
  color: #fff;
}

.wrapper .container .portfolio .offer {
  background-color: #060606;
  color: #fff;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .main__contact {
  background-color: gold;
}

.wrapper .container .main__contact .contact {
  width: 50%;
  margin: 0 auto;
  background-color: gold;
}

.wrapper .container .main__contact .contact h1 {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
}

.wrapper .container .main__contact .contact .in {
  outline-width: none;
  border: 1px solid #060606;
  border-radius: 10px;
  background-color: #060606;
  padding: 20px 50px;
  margin: 20px 0;
  color: #fff;
}

.wrapper .container .main__contact .contact .in::-webkit-input-placeholder {
  color: #fff;
}

.wrapper .container .main__contact .contact .in:-ms-input-placeholder {
  color: #fff;
}

.wrapper .container .main__contact .contact .in::-ms-input-placeholder {
  color: #fff;
}

.wrapper .container .main__contact .contact .in::placeholder {
  color: #fff;
}

.wrapper .container .main__contact .contact textarea {
  border: 1px solid black;
  -webkit-box-shadow: 2px 1px 2px #ccc;
          box-shadow: 2px 1px 2px #ccc;
  border-radius: 10px;
  background-color: #060606;
  color: #fff;
  opacity: 0.6;
  -webkit-box-shadow: 2px 3px 23px 4px rgba(0, 0, 0, 0.77);
  box-shadow: 2px 3px 23px 4px rgba(0, 0, 0, 0.77);
}

.wrapper .container .main__contact .contact .submit {
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  color: #060606;
  font-weight: 700;
  font-size: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #060606;
  padding: 7px 40px;
  margin-left: 200px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.wrapper .container .main__contact .contact .submit:hover {
  color: #fff;
  background-color: #060606;
  border: 3px solid gold;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-box-shadow: 2px 3px 23px 4px rgba(0, 0, 0, 0.77);
  box-shadow: 2px 3px 23px 4px rgba(0, 0, 0, 0.77);
}

.wrapper .container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #060606;
}

.wrapper .container footer img {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.wrapper .container footer img:hover {
  padding-bottom: 5px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.wrapper .container footer .end {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  opacity: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container footer .end .f__end {
  color: gold;
  margin: 0 10px;
}

.wrapper .container footer .end .l__end {
  color: #ccc;
}

.wrapper .container .end__logo {
  height: 70px;
  width: 70px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 479px) {
  html body .wrapper {
    overflow-x: hidden;
  }
  html body .wrapper .container .navbar .header .menu__text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 8px;
    position: relative;
    right: 10px;
  }
  html body .wrapper .container .navbar .header .menu__text ul li {
    font-size: 12px;
    margin: 3px;
  }
  html body .wrapper .container .hero__section .hero__text {
    height: 350px;
    position: relative;
    padding-left: 150px;
    padding-left: 0;
  }
  html body .wrapper .container .hero__section .hero__text .hi {
    font-size: 18px;
    position: relative;
    left: 40px;
  }
  html body .wrapper .container .hero__section .hero__text .name {
    font-size: 28px;
    position: relative;
    left: 40px;
  }
  html body .wrapper .container .hero__section .hero__text .surname {
    font-size: 28px;
    position: relative;
  }
  html body .wrapper .container .hero__section .hero__text .job {
    font-size: 10px;
    bottom: 10px;
    position: relative;
    left: 40px;
  }
  html body .wrapper .container .hero__section .hero__text .social {
    padding-top: 40px;
    padding-left: 35px;
  }
  html body .wrapper .container .hero__section .hero__text .social a {
    margin: 0 10px;
  }
  html body .wrapper .container .hero__section .hero__text .social .facebook {
    width: 27px;
    height: 27px;
  }
  html body .wrapper .container .hero__section .hero__text .social .instagram {
    width: 27px;
    height: 27px;
  }
  html body .wrapper .container .hero__section .hero__text .social .telegram {
    width: 27px;
    height: 27px;
  }
  html body .wrapper .container .hero__section .hero__img {
    height: 350px;
  }
  html body .wrapper .container .hero__section .hero__img img {
    height: 150px;
    width: 150px;
    background-size: cover;
    position: relative;
    top: 120px;
  }
  html body .wrapper .container .goal h1 {
    font-size: 24px;
  }
  html body .wrapper .container .goal p {
    font-size: 14px;
  }
  html body .wrapper .container .skills h1 {
    position: relative;
    right: 200px;
    font-size: 24px;
  }
  html body .wrapper .container .skills p {
    padding-left: 18px;
    position: relative;
    bottom: 40px;
    font-size: 14px;
  }
  html body .wrapper .container .skills .example {
    height: 1000px;
  }
  html body .wrapper .container .skills .example .icons__f {
    position: relative;
    right: 86px;
    margin-left: 9px;
    padding-top: 0;
  }
  html body .wrapper .container .skills .example .icons__f img {
    margin: 0 7px;
    height: 80px;
    width: 80px;
  }
  html body .wrapper .container .skills .example .icons__s img {
    margin: 0 7px;
    height: 80px;
    width: 80px;
  }
  html body .wrapper .container .skills .icons__th {
    position: relative;
    bottom: 30px;
  }
  html body .wrapper .container .portfolio .p__h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .wrapper .container .portfolio .p__h h1 {
    text-align: center;
  }
  html body .wrapper .container .main__contact .contact form textarea {
    width: 250px;
    height: 50px;
  }
  html body .wrapper .container .main__contact .contact .submit {
    position: relative;
    right: 165px;
    width: 170px;
    height: 60px;
  }
}

@media screen and (max-width: 570px) {
  .wrapper {
    overflow-x: hidden;
  }
  .wrapper .container .navbar .header .menu__text ul li {
    font-size: 15px;
    margin-left: 3px;
  }
  .wrapper .container .hero__section .hero__text {
    padding: 0;
    /* margin: 0; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    /* list-style: none; */
    /* text-decoration: none; */
    /* outline-width: 0; */
    /* font-family: 'Atkinson Hyperlegible', sans-serif; */
  }
  .wrapper .container .hero__section user agent stylesheet
b {
    font-weight: bold;
  }
  .wrapper .container .hero__section h1, .wrapper .container .hero__section .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  .wrapper .container .hero__section h6, .wrapper .container .hero__section .h6, .wrapper .container .hero__section h5, .wrapper .container .hero__section .h5, .wrapper .container .hero__section h4, .wrapper .container .hero__section .h4, .wrapper .container .hero__section h3, .wrapper .container .hero__section .h3, .wrapper .container .hero__section h2, .wrapper .container .hero__section .h2, .wrapper .container .hero__section h1, .wrapper .container .hero__section .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .wrapper .container .hero__section user agent stylesheet
h1 {
    font-size: 2em;
    font-weight: bold;
  }
  .wrapper .container .hero__section .wrapper .container .hero__section .hero__text {
    width: 50%;
    height: 500px;
    background-color: #060606;
    color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 80px;
  }
  .wrapper .container .hero__section body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .wrapper .container .hero__section :root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
  .wrapper .container .hero__section h1, .wrapper .container .hero__section p {
    position: relative;
    right: 100px;
  }
  .wrapper .container .hero__section .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 60px;
  }
  .wrapper .container .hero__img img {
    position: relative;
    right: 27px;
    top: 20%;
    width: 290px;
    height: 290px;
  }
  .wrapper .skills .example {
    position: relative;
  }
  .wrapper .skills .example h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    right: 120px;
  }
  .wrapper .main__contact .contact {
    position: relative;
  }
  .wrapper .main__contact .contact .submit {
    position: relative;
    right: 140px;
  }
  .wrapper .main__contact .contact textarea {
    width: 280px;
    height: 80px;
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    overflow-x: hidden;
  }
  .wrapper .container .navbar .header .menu__text ul li {
    font-size: 15px;
    margin-left: 3px;
  }
  .wrapper .container .hero__section .hero__text .hi {
    font: 25px;
    position: relative;
    right: 16px;
  }
  .wrapper .container .hero__section .hero__text .name {
    position: relative;
    right: 20px;
    font-size: 40px;
  }
  .wrapper .container .hero__section .hero__text .job {
    position: relative;
    right: 18px;
  }
  .wrapper .container .hero__section .hero__text .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 60px;
  }
  .wrapper .container .hero__section .hero__img img {
    position: relative;
    right: 27px;
    top: 20%;
    width: 290px;
    height: 290px;
  }
  .wrapper .container .skills .example {
    position: relative;
  }
  .wrapper .container .skills .example h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    right: 120px;
  }
  .wrapper .container .main__contact .contact {
    position: relative;
  }
  .wrapper .container .main__contact .contact .submit {
    position: relative;
    right: 140px;
  }
  .wrapper .container .main__contact .contact textarea {
    width: 280px;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    overflow-x: hidden;
  }
  .wrapper .container .navbar .header .menu__text ul li {
    font-size: 15px;
    margin-left: 3px;
  }
  .wrapper .container .hero__section .hero__text .hi {
    font: 25px;
    position: relative;
    right: 16px;
  }
  .wrapper .container .hero__section .hero__text .name {
    position: relative;
    right: 20px;
    font-size: 40px;
  }
  .wrapper .container .hero__section .hero__text .job {
    position: relative;
    right: 18px;
  }
  .wrapper .container .hero__section .hero__text .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 60px;
  }
  .wrapper .container .hero__section .hero__img img {
    position: relative;
    right: 27px;
    top: 20%;
    width: 290px;
    height: 290px;
  }
  .wrapper .container .skills .example {
    position: relative;
  }
  .wrapper .container .skills .example h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    right: 120px;
  }
  .wrapper .container .main__contact .contact {
    position: relative;
  }
  .wrapper .container .main__contact .contact .submit {
    position: relative;
    right: 140px;
  }
  .wrapper .container .main__contact .contact textarea {
    width: 280px;
    height: 80px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    overflow-x: hidden;
  }
  .wrapper .container .navbar .header .menu__text ul li {
    font-size: 15px;
    margin-left: 3px;
  }
  .wrapper .container .hero__section .hero__text .hi {
    font: 25px;
    position: relative;
    right: 16px;
  }
  .wrapper .container .hero__section .hero__text .name {
    position: relative;
    right: 20px;
    font-size: 40px;
  }
  .wrapper .container .hero__section .hero__text .job {
    position: relative;
    right: 18px;
  }
  .wrapper .container .hero__section .hero__text .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 60px;
  }
  .wrapper .container .hero__section .hero__img img {
    position: relative;
    right: 27px;
    top: 20%;
    width: 290px;
    height: 290px;
  }
  .wrapper .container .skills .example {
    position: relative;
  }
  .wrapper .container .skills .example h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    right: 120px;
  }
  .wrapper .container .main__contact .contact {
    position: relative;
  }
  .wrapper .container .main__contact .contact .submit {
    position: relative;
    right: 140px;
  }
  .wrapper .container .main__contact .contact textarea {
    width: 280px;
    height: 80px;
  }
}

@media screen and (min-width: 480px) and (max-width: 575px) {
  .wrapper {
    overflow-x: hidden;
  }
  .wrapper .container .navbar .header .menu__text ul li {
    font-size: 15px;
    margin-left: -23px;
  }
  .wrapper .container .hero__section .hero__text .hi {
    font: 25px;
    position: relative;
    left: 16px;
  }
  .wrapper .container .hero__section .hero__text .name {
    position: relative;
    left: 20px;
    font-size: 40px;
  }
  .wrapper .container .hero__section .hero__text .job {
    position: relative;
    left: 18px;
    font-size: 13px;
  }
  .wrapper .container .hero__section .hero__text .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: 30px;
  }
  .wrapper .container .hero__section .hero__img img {
    position: relative;
    right: 27px;
    top: 20%;
    width: 290px;
    height: 290px;
  }
  .wrapper .container .skills .example {
    position: relative;
  }
  .wrapper .container .skills .example h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    right: 120px;
  }
  .wrapper .container .skills .example img {
    position: relative;
    right: 60px;
  }
  .wrapper .container .main__contact .contact {
    position: relative;
  }
  .wrapper .container .main__contact .contact .submit {
    position: relative;
    right: 140px;
  }
  .wrapper .container .main__contact .contact textarea {
    width: 280px;
    height: 80px;
  }
}
/*# sourceMappingURL=style.css.map */